#ifndef HEADER
#define HEADER
#include "keymap.h"
#endif

    combos {
        compatible = "zmk,combos";

        combo_home_layer {
            timeout-ms = <250>;
            key-positions = <38 39>;
            bindings = <&to _BAS>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp ESC>;
            layers = <_BAS>;
        };
        
         combo_tab {
            timeout-ms = <210>;
            key-positions = <7 9>;
            bindings = <&kp TAB>;
            layers = <_BAS>;
        };
               
        combo_delete {
            timeout-ms = <300>;
            key-positions = <9 10>;
            bindings = <&kp DEL>;
            layers = <_BAS>;
        };

        combo_enter {
            timeout-ms = <210>;
            key-positions = <8 9>;
            bindings = <&kp ENTER>;
            layers = <_BAS>;
        };

        combo_caps_layer {
            timeout-ms = <300>;
            key-positions = <37 40>;
            bindings = <&to _SFT>;
            layers = <_BAS>;
        };

        combo_ble_layer {
            timeout-ms = <300>;
            key-positions = <24 35>;
            bindings = <&to _BLE>;
            layers = <_BAS>;
        };

        combo_cz {
            timeout-ms = <300>;
            key-positions = <14 37>;
            bindings = <&ctrlz>;
            layers = <_BAS>;
        };

    };
