#ifndef HEADER
#define HEADER
#include "keymap.h"
#endif

/ { 
    #include "_macros.dtsi"
    #include "_behaviors.dtsi"
    #include "_combos.dtsi"

    keymap {
            compatible = "zmk,keymap";
            
        bas {
    bindings = <
    &la_l_anv _ANV V &la_l _NNV G &la_l _NNV H &kp P &kp K 
                                        &kp FSLH &la_r _SM1 SEMI &la_r _NNV DOT &la_r _SM2 COMMA &kp BSPC 
    &hm LGUI R &hm LALT S &hm LCTRL N &hm LSHFT T &kp F
                                        &kp J &hm RSHFT A &hm RCTRL E &hm RALT C &hm RGUI I
    &la_l _SFT X &kp M &kp L &kp D &kp B
                                        &kp EQUAL &kp U  &kp O &kp W &la_r _SFT Y
                    &to _ANV   &skq _SFT               &kp SPC &none
    >;
    };

        sft {
    bindings = <
    &kp LS(V) &kp LS(G) &kp LS(H) &kp LS(P) &kp LS(K)                           &kp QMARK &kp COLON &kp MINUS &kp UNDER &kp SQT 
    &hm LGUI LS(R) &hm LALT LS(S) &hm LCTRL LS(N) &hm LSHFT LS(T) &kp LS(F)     &kp LS(J) &hm RSHFT LS(A) &hm RCTRL LS(E) &hm RALT LS(C) &hm RGUI LS(I)
    &kp LS(X) &kp LS(M) &kp LS(L) &kp LS(D) &kp LS(B)                           &kp PLUS &td_qu_cap  &kp LS(O) &kp LS(W) &kp LS(Y)
                    &to 0      &to 0  				                            &kp SPC &to 0
    >;
    };

        sm1 {
    bindings = <
    &kp EXCL  &kp ATSN  &kp HASH  &kp DLLR  &none                           &none &none &none &none &none
    &hm LGUI TILDE  &hm LALT Z  &hm LCTRL Q  &hm LSHFT BSLH  &kp PIPE       &none &none &none &none &none
    &kp GRAVE  &kp LS(Z)  &kp LS(Q)  &kp N0  &none  	                    &none &none &none &none &none
                                            &to 0  &to 0                    &kp SPC &to 0
    >;
    };	

        sm2 {
    bindings = <
    &kp STAR  &kp AMPS  &kp CARET  &kp PRCNT  &kp DQT                           &none &none &none &none &none
    &hm LGUI LBRC  &hm LALT LPAR  &hm LCTRL RPAR  &hm LSHFT RBRC  &kp SEMI      &none &none &none &none &none
    &kp LT  &kp LBKT  &kp RBKT  &kp GT  &none  	                                &none &none &none &none &none
                                            &to 0  &kp LEFT                     &kp SPC &to 0
    >;
    };	

        nnv {
    bindings = <
    &none &none &kp UP &none &none                          &kp STAR    &kp N7 &kp N8 &kp N9 &kp PLUS
    &kp LGUI &kp LEFT &kp DOWN &kp RIGHT &none              &kp COMMA   &hm RSHFT N4 &hm RCTRL N5 &hm RALT N6 &hm RGUI N0
    &kp H &kp K &kp J &kp L &none                           &kp FSLH    &kp N1 &kp N2 &kp N3 &kp MINUS
                        &to 0 &kp BSPC                      &kp SPC &kp DOT
    >;
    };

        anv {
    bindings = <
    &none &none &ddu &none &to 4                          &kp STAR    &kp N7 &kp N8 &kp N9 &kp PLUS
    &kp LGUI &ddl &ddd &ddr &none              &kp COMMA   &hm RSHFT N4 &hm RCTRL N5 &hm RALT N6 &hm RGUI N0
    &kp H &kp K &kp J &kp L &af4                            &kp FSLH    &kp N1 &kp N2 &kp N3 &kp MINUS
                        &to 0 &to 0                         &kp SPC &kp DOT
    >;
    };

        ble {
    bindings = <
    &bt BT_CLR &out OUT_BLE &out OUT_TOG &out OUT_USB &none           &none &none &none &none &none
    &bt BT_SEL 0 &none &none &none &none                                &none &none &none &none &none
    &none &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bootloader            &none &none &none &none &none
                        &to 0 &to 0                                     &to 0 &to 0
    >;
    };

        gam {
    bindings = <
    &kp V &kp G &kp H &kp P &kp K 
                                        &kp FSLH &kp SEMI &kp DOT &kp COMMA &kp BSPC 
    &kp R &kp S &kp N &kp T &kp F
                                        &kp J &kp A &kp E &kp C &kp I
    &kp X &kp M &kp L &kp D &kp B
                                        &kp EQUAL &kp U  &kp O &kp W &kp Y
                    &to _ANV   &kp LSHFT               &kp SPC &none
    >;
    };

	};
};
