compatible = "zmk,behavior-macro";

#define MACRO(NAME, UONE, UTWO, UTHREE, UFOUR) \
    NAME##: NAME { \
        label = "NAME"; \
        #binding-cells = <0>; \
        wait-ms = <1>; \
        bindings \
            = <&macro_press &kp LSHFT> \
            , <&macro_press &kp LCTRL> \
            , <&macro_tap &kp U> \
            , <&macro_release &kp LCTRL> \
            , <&macro_release &kp LSHFT> \
            , <&macro_tap &kp UONE &kp UTWO &kp UTHREE &kp UFOUR> \
            , <&macro_tap &kp SPC> \
            ; \
    };

/* macron vowels */
MACRO(m_a, N0, N1, N0, N1)
MACRO(m_e, N0, N1, N1, N3)
MACRO(m_i, N0, N1, N2, B)
MACRO(m_o, N0, N1, N4, D)
MACRO(m_u, N0, N1, N6, B)
/* accent vowels */
MACRO(a_a, N0, N0, E, N1)
MACRO(a_e, N0, N0, E, N9)
MACRO(a_i, N0, N0, E, D)
MACRO(a_o, N0, N0, F, N3)
MACRO(a_u, N0, N0, F, A)
/* caron vowels */
MACRO(m_a_a, N0, N1, C, E)
MACRO(m_a_e, N0, N1, N1, B)
MACRO(m_a_i, N0, N1, D, N0)
MACRO(m_a_o, N0, N1, D, N2)
MACRO(m_a_u, N0, N1, D, N4)
