#define MACRO(NAME, UONE, UTWO, UTHREE, UFOUR) \
    NAME: NAME { \
        label = "NAME"; \
        compatible = "zmk,behavior-macro"; \
        #binding-cells = <0>; \
        wait-ms = <3>; \
        bindings \
            = <&macro_press &kp LSHFT> \
            , <&macro_press &kp LCTRL> \
            , <&macro_tap &kp U> \
            , <&macro_release &kp LCTRL> \
            , <&macro_release &kp LSHFT> \
            , <&macro_tap &kp UONE &kp UTWO &kp UTHREE &kp UFOUR> \
            , <&macro_tap &kp SPC> \
            ; \
    };

/* macron vowels */
MACRO(m_a, 0, 1, 0, 1)
MACRO(m_e, 0, 1, 1, 3)
MACRO(m_i, 0, 1, 2, B)
MACRO(m_o, 0, 1, 4, D)
MACRO(m_u, 0, 1, 6, B)
/* accent vowels */
MACRO(a_a, 0, 0, E, 1)
MACRO(a_e, 0, 0, E, 9)
MACRO(a_i, 0, 0, E, D)
MACRO(a_o, 0, 0, F, 3)
MACRO(a_u, 0, 0, F, A)
/* caron vowels */
MACRO(m_a_a, 0, 1, C, E)
MACRO(m_a_e, 0, 1, 1, B)
MACRO(m_a_i, 0, 1, D, 0)
MACRO(m_a_o, 0, 1, D, 2)
MACRO(m_a_u, 0, 1, D, 4)
